.banner{
    height: 500px;
    margin-top: 0px;
}
.bannerContent{
margin-left: 50px;
padding-top: 200px;
height: 200px;

}
.tittle{
    font-size:xx-large ;
    padding-bottom: 20px;
}
.overview{
    width :500px
}